<!DOCTYPE html>
<html>
<head>
	<title>set cookie</title>
</head>
<body>
<script src="http://g.tbcdn.cn/tmapp/jquery/1.11.1/jquery-1.11.1.min.js"></script>
<script>
	// $.get("http://game.play.jaeapp.com:8003/sync_cookie/",function(data) {
	// 	console.log(data);
	// 	console.log(document.cookie);
	// });
	// if (location.href.indexOf("back") > -1 && location.href.indexOf("8002") > -1) {
	// 	console.log("back");
	// } else if (location.href.indexOf("8002") > -1) {
	// 	location.href = "http://game.play.jaeapp.com:8003/";
	// } else if (location.href.indexOf("8003") > -1) {
	// 	location.href = "http://dianpu.tmall.com:8002/?back";
	// }
	// location.href = "http://dianpu.tmall.com:6001?iscookie";
</script>
</body>
</html>